.portfolio-cards {
  margin-top: 60px;
}
.portfolio-cards .portfolio-card {
  background: red;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
}